li {
  list-style-type: disc;
  margin: 10px 0px;
  line-height: 1.8;
}

li li {
  list-style-type: circle;
  margin: 10px 0px;
  line-height: 1.8;
}


ul {
  list-style: square;
  margin: 10px 0px;
  line-height: 1.8;
}

h2 {
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
  padding-top: 40px;
}

paper_cell {
  vertical-align: top;
  font-size: 15px;
  padding-bottom: 10px;
}

.myname {
  color: black;
  font-weight: bold;
}

.author_name
{
  color: gray;
  font-size: 13px;
  margin-bottom: 5px;
}

.paper_name {
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}

.conference_name {
  font-style: italic;
  margin-bottom: 5px;
}


.gray {
  color: gray;
}

.logo_row {
  vertical-align: middle;
  padding: 2px;
}